:host {
  .login-container {
    margin: 0 auto;
    width: 320px;
    padding: 22px;
    margin-top: 144px;
    background-color: #fafafa;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  h3 {
    font-size: 1.3rem;
    text-align: center;
    padding: 8px 0;
  }
}
